
body { max-width: 1000px; background-image: url("images/fondWC.png"); background-attachment: fixed;}

.container {padding:0}

.banniere {	max-width: 100%;
			width: auto;
			margin-top:50px;
			
			}

.navbar {border-radius: 0;}
			
section {max-width: 1000px; padding: 5px; color:#f2f2f2; font-size:1.2em}

h1 {	font-size:2em;
	font-family:Impact;
	color: #f2f2f2;
	text-shadow: #000000 3px 6px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;}

.list-group-item { background-color: rgba(0, 0, 15, 0.5); border-radius:0 !important}
	
#wherewhen {background-image: url("images/fondsectionvide.png"); }

#home{background-image: url("images/home2.png"); height:400px}

#who{background-image: url("images/who.png"); height:400px}

#human{background-image: url("images/humans.png"); height:400px}

#animals {background-image: url("images/animals.png"); height:400px}

#augmentedr {background-image: url("images/augmr.png"); height:400px}

button{color:black}

footer{background-color:rgba(230,230,230,0.8); font-size:0.8em}
