
body { max-width: 1000px;}



.banniere {	max-width: 1000px;
			width: auto;
			}

section {max-width: 1000px; padding: 5px; color:#a5a0a0}

section h1 {	font-size:2em;
			color: white;}
	
#home, #who, #human, #animals, #virtual, #wherewhen {background-image: url("images/home2.png"); height:400px}